@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #ea580c;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ea580c #333;
}
